.header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include background-glass;
    z-index: 1000;
    padding: 15px 100px;
    position: fixed;
    top: 0;
    left: 0;

    nav {
     ul {
        @include flex-center-center-row;
        gap: 30px;
        list-style: none;

        li {
          font-size: var(--text-small);
          position: relative;  
          text-decoration: none;  
          color: var(--text-main);
            a {
  font-size: var(--text-small);
  position: relative;  
  text-decoration: none;  
  color: var(--text-main);

  &::before,
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;  
  }

  &::before {
    height: 0;
    background-color: transparent;
    transition: height 0.3s ease;
  }

  &::after {
    height: 2px;
    background-color: var(--text-main);  
    transition: width 0.3s ease;
    width: 0%;  
  }

  &:hover {
    &::before {
      height: 100%; 
      background-color: rgba(var(--text-main-rgb), 0.1);  
    }

    &::after {
      width: 100%;  
    }
  }
}
        }
     }
    }

    .logo__wrapper {
        h1 {
            a {
                font-size: var(--text-big);
                text-decoration: none;
                color: var(--text-main);
            }
        }
    }

    .nav__mobile__button {
        display: none;
        background-color: transparent;
        border-radius: var(--border-radius);
        border: none;
        cursor: pointer;

        svg {
            fill: var(--text-main);
        }
    }
}