.maps__container {
    width: 100%;
    padding: 100px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;

    .maps__titles {
        text-align: center;
        max-width: 600px;
        color: var(--text-secondary);

        h2 {
            font-size: 32px;
            font-weight: 600;
            margin-bottom: 10px;
        }

        p {
            opacity: 0.7;
        }
    }

    .yandex__wrapper {
        width: 100%;
        max-width: 1200px;
        display: flex;
        justify-content: center;
        align-items: stretch;
        gap: 40px;
    }

    .maps__wrapper,
    .rating__wrapper {
        box-shadow: 0 25px 60px rgba(0,0,0,0.08);
        background: white;
        width: 100%;
        height: 560px;

        &:hover {
            transform: translateY(-5px);
            box-shadow: 0 35px 70px rgba(0,0,0,0.12);
        }

        iframe {
            width: 100%;
            height: 560px;
            width: 560px;
            border: none;
        }
    }
}


@media screen and (max-width: 430px) {

    .maps__container {
        padding: 0;

    .yandex__wrapper {
        flex-direction: column;

        .maps__wrapper,
        .rating__wrapper {
            width: 100%;

            iframe {
                width: 100%;
                max-width: 430px;
            }
        }
    }
}
}