.page__preview__container {
    @include flex-center-center-row;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    border-radius: var(--border-radius);

    .page__preview__item {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .page__preview__text__wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .page__preview__title {
                color: var(--text-secondary);
                font-size: 40px;
                line-height: 110%;
                text-shadow: 0px 0px 2px black;
            }

            .page__preview__description {
                color: var(--text-secondary);
                font-size: 20px;
            }
        }

        .page__preview__buttons__wrapper {
            display: flex;
            gap: 30px;

            .button__main {
                @include button;

                a {
                    text-decoration: none;
                    color: var(--text-secondary);
                    font-size: var(--text-small);
                }
        }
        .button__secondary {
                @include button-secondary;
                border: var(--border);

                a {
                    text-decoration: none;
                    color: var(--text-main);
                    font-size: var(--text-small);
                }
            }
    }

        .page__preview__rating__wrapper {
            @include flex-center-left-row;
            gap: 50px;

            p {
                color: var(--text-secondary);
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    font-size: var(--text-small);
                    gap: 5px;
                    font-weight: 500;
                }
            }
        }
}
.preview__img {
            background-image: url('/images/img/owl.jpg');
            border-radius: var(--border-radius);
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            width: 400px;
            height: 400px;
            position: relative;
        }
}

@media (max-width: 430px) {
  .page__preview__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 80px 0px;

    .page__preview__item {
      gap: 50px;
      text-align: center;

      .page__preview__text__wrapper {
        gap: 20px;

        .page__preview__title {
          font-size: var(--text-big);
          line-height: 120%;
        }

        .page__preview__description {
          font-size: var(--text-small);
        }
      }

      .page__preview__buttons__wrapper {
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;

        .button__main,
        .button__secondary {
          width: 40%;
          height: 45px;
        }
      }

      .page__preview__rating__wrapper {
        align-items: stretch;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        p {
            text-align: center;
            justify-content: center;
            flex-direction: row;
            border: var();
            border-radius: var(--border-radius);
            padding: 10px 20px;
            width: 80%;
            justify-self: center;
            align-self: center;
        }

      }
    }

    .preview__item__img {
     display: none;
    }
  }
}