.page__preview__container {
    @include flex-center-center-row;
    width: 100%;
    height: 100vh;
    border-radius: var(--border-radius);
    gap: 100px;

    .page__preview__item {
        display: flex;
        flex-direction: column;
        gap: 50px;

        .page__preview__text__wrapper {
            display: flex;
            flex-direction: column;
            gap: 30px;

            .page__preview__title {
                color: var(--text-main);
                font-size: 55px;
                line-height: 110%;
            }

            .page__preview__description {
                color: var(--text-main);
                font-size: var(--text-medium);
            }
        }

        .page__preview__buttons__wrapper {
            display: flex;
            gap: 30px;

            .button__main {
                @include button;

                a {
                    text-decoration: none;
                    color: var(--text-secondary);
                    font-size: var(--text-small);
                }
        }
        .button__secondary {
                @include button-secondary;

                a {
                    text-decoration: none;
                    color: var(--text-main);
                    font-size: var(--text-small);
                }
            }
    }

        .page__preview__rating__wrapper {
            @include flex-center-left-row;
            gap: 50px;

            p {
                color: var(--text-main);
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    display: flex;
                    align-items: center;
                    font-size: var(--text-small);
                    gap: 5px;
                    font-weight: 500;
                }
            }
        }
}
.preview__img {
            background-image: url('/images/img/preview-bg.jpg');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            padding: 20px;
            border-radius: var(--border-radius);
            width: 500px;
            height: 500px;
            position: relative;

            &::before {
                content: "";
                position: absolute;
                inset: -4px;
                background: linear-gradient(
                    #a0a0a0,
                    #959595,
                    #5e5e5e,
                );
                filter: blur(20px);
                z-index: -1;
            }
        }
}