* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    transition: all 0.2s ease;
}

body, html {
    height: 100%;
}

.video-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;

    video {
        width: 100%;
        height: 100%;
        object-fit: cover;
        filter: contrast(1.5);
    }
}
