@media screen and (max-width: 430px) {
    .header {
        justify-content: space-between;
        padding: 10px 45px;
        transition: 0.2s height ease, 0.2s visibility ease, 0.2s width ease;

        nav {
            display: none;
            opacity: 0;
            transition: opacity 0.2s ease 0.1s;
        }

        .nav__mobile__button {
            display: block;
        }
    }

    .header__mobile__active {
         @include flex-center-center-row;
        flex-direction: column;
        height: 100vh;
        gap: 20px;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1001;
        padding: 20px;
        opacity: 1;
        pointer-events: all; 
        transition: opacity 0.2s ease, height 0.2s ease;

        .logo__wrapper {
            h1 {
                a {
                    font-size: var(--text-big);
                }
            }
        }

        nav {
            @include flex-center-center-row;
            flex-direction: column;
            visibility: visible;
            height: max-content;
            width: 100%;
            gap: 20px;
            opacity: 1;

             ul {
                flex-direction: column;
                li {
                     font-size: var(--text-medium);
                    a {
                        font-size: var(--text-medium);
                    }
                }
             }
        }
    }
}

@media (max-width: 430px) {
  .page__preview__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .page__preview__item {
      gap: 50px;
      text-align: center;

      .page__preview__text__wrapper {
        gap: 20px;

        .page__preview__title {
          font-size: var(--text-big);
          line-height: 120%;
        }

        .page__preview__description {
          font-size: var(--text-small);
        }
      }

      .page__preview__buttons__wrapper {
        justify-content: center;
        align-items: center;
        gap: 15px;
        width: 100%;

        .button__main,
        .button__secondary {
          width: 40%;
          height: 45px;
        }
      }

      .page__preview__rating__wrapper {
        align-items: stretch;
        width: 100%;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        p {
            text-align: center;
            justify-content: center;
            flex-direction: row;
            border: 2px solid black;
            border-radius: var(--border-radius);
            padding: 10px 20px;
            width: 80%;
            justify-self: center;
            align-self: center;
        }

      }
    }

    .preview__item__img {
     display: none;
    }
  }
}