@mixin flex-center-center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flex-center-center-column {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

@mixin flex-center-left-row {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

@mixin flex-between-center-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

@mixin flex-between-center-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin background-glass {
    background-color: rgba(0, 0, 0, 0.463);
    backdrop-filter: blur(20px);
}

@mixin button {
    width: 180px;
    height: 50px;
    font-size: var(--text-small);
    color: var(--text-secondary);
    border-radius: var(--border-radius);
    border: none;
    cursor: pointer;
    border: 2px solid transparent;
    background-color: var(--accent);

    &:hover {
        transform: translateY(-4px);
    }
}

@mixin button-secondary {
    @include button;
    background-color: var(--text-secondary);
    border: 2px solid var(--text-main);
}

@mixin card {
    padding: 30px;
    @include flex-center-center-column;
    @include background-glass;
    border-radius: var(--border-radius);
}