@import './utils/variables.scss', './utils/mixins.scss', './utils/globals.scss';
@import './blocks/header.scss', './blocks/footer.scss', './blocks/pageTopContainer.scss', './blocks/service.scss', './blocks/accordion.scss', './blocks/socials.scss' , './blocks/priceList.scss' ,'./blocks/gallery.scss', "./blocks/maps.scss";
@import './utils/media.scss';